@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&family=Rubik:wght@600&display=swap');
@import 'animations';
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}
$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 980;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li{
  margin: 0;
}
body {
	font-family: Rubik;
	// height: 100%;
	height: 100vh;
	// width: 100vw;
}
textarea {
	resize: none;
}
/* ============================== Login ======================================== */
.login {
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: auto 0;
	// .login__top
	&__top {
		position: relative;
		margin-top: 60px;
	}
	// .login__circle
	&__circle {
		z-index: -1;
		position: absolute;
		width: 139px;
		height: 139px;
		top: -20px;
		left: -63px;
		border-radius: 50%;
		background: #E4F1F8;
	}
	// .login__title
	&__title {
		text-align: left;
		font-family: Raleway;
		font-weight: 600;
		font-size: 40px;
		color: #161525;
	}
	@media (max-width: 426px) {
		flex: 0 0 auto;
		width: 100%;
		&__circle {
			width: 100px;
			height: 100px;
			top: -16px;
			left: -43px;
		}
		&__title {
			font-size: 30px;
		}
	}	
}
.body-login {
	text-align: center;	
	// .body-login__input
	&__input {
		margin-top: 109px;
		display: block;
		position: relative;
		input {
			width: 676px;
			// width: 184%;
			height: 65px;
			background: #F9F9F9;
			box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.1);
			border-radius: 15px;
			border: 0;
			font-size: 23px;
			line-height: 27px;
			padding: 0 22px;
			color: #161525;
			&:focus {
				outline: none;
			}
		}
	}
	// .body-login__btn
	&__btn {
		cursor: pointer;
		display: inline-block;
		text-align: center;
		border: 2px solid rgba(75, 128, 231, 0.8);
		border-radius: 10px;
		background: 0;
		font-size: 25px;
		line-height: 29px;
		color: rgba(75, 128, 231, 0.8);
		margin-top: 65px;
		padding: 18px 51px;
		transition: all 0.8s ease;
		&:hover {
			color: #fff;
			background: rgba(75, 128, 231, 0.8);
		}
	}
	@media (max-width: 426px) {
		flex: 0 0 auto;
		width: 100%;
		padding: 0 40px;
		&__input {
			margin-top: 70px;
			flex: 1 1 100%;
			input {
				width: 100%;
				font-size: 20px;
				line-height: 23px;
			}
		}
		&__btn {
			margin-top: 30px;
			font-size: 20px;
			line-height: 23px;
			padding: 18px 30px;
			&:hover {
				color: rgba(75, 128, 231, 0.8);
				background-color: #fff;
			}
		}
	}	
}
// ============================== Chat ==========================================
.chat {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
	//margin-bottom: 50px;
	padding: 0px 15px;
	padding-top: 22px;
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	@media (max-width: $md3+px) {
		max-width: none;
		padding: 0 10px;
	}
	// .chat__logo
	&__logo {
		flex: 0 0 95px;
		margin-bottom: 22px;
		@media (max-width: 426px) {
			margin-bottom: 10px;
			flex: 0 0 60px;
			align-self: flex-start;
			img {
				width: 120px;
			}
		}
	}
	// .chat__field
	&__field {
		flex: 1 1 auto;
		margin: 0 auto;
		width: 100%;
		min-height: 500px;
		height: 100%;
		background: #F9F9F9;
		box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.1);
		border-radius: 15px;
		overflow: hidden;
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin-bottom: 50px;
	}
	@media (max-width: 426px) {
		padding: 0 15px;
		padding-top: 15px;
	}
}
.field-chat {
	@media (max-width: 426px) {
		width: 100%;
	}
	// .field-chat__top
	&__top {
		display: flex;
		justify-content: space-between;
		background: #E3E5EA;
		border-radius: 15px 15px 0px 0px;
		align-items: center;
	}
	// .field-chat__name
	&__name {
		font-family: Raleway;
		font-style: normal;
		font-weight: 600;
		font-size: 25px;
		line-height: 29px;
		color: #000;
		padding: 9px 50px 10px 19px;
	}
	// .field-chat__online
	&__online {
		font-size: 14px;
		opacity: .6;
	}
	// .field-chat__exit
	&__exit {
		cursor: pointer;
		border-radius: 50%;
		width: 37px;
		height: 37px;
		background: #E74B4B;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-right: 9px;
		img {
			transform: translateX(1px);
		}
	}
	// .field-chat__body
	&__body {
		padding: 15px;
		display: inline-flex;
		flex-direction: column-reverse;
		width: 100%;
		height: 100%;
		//max-height: 400px;
		overflow-y: auto;
		overflow-x: hidden;
		position: relative;
	}
	// .field-chat__msg
	&__msg {
	}
	// .field-chat__input
	&__input {
		background: #E3E5EA;
		box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.1);
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		z-index: 100;
		textarea {
			font-family: Raleway;
			font-weight: 300;
			background: #F9F9F9;
			flex: 1 1 auto;
			border-radius: 5px;
			border: 0;
			font-size: 18px;
			color: #161525;
			margin: 9px 0 11px 11px;
			padding: 5px 11px 6px 11px;
			&::placeholder {
				font-size: 18px;
				line-height: 21px;
				color: rgba(0, 0, 0, 0.2);
			}
			&:focus {
				outline: none
			}
		}
		button {
			cursor: pointer;
			border: 0;
			height: 40px;
			width: 40px;
			margin-left: 19px;
			margin-right: 9px;
			background: #4B80E7;
			border-radius: 50%;
			&:after {
				content: ">";
				display: block;
				color: #4B80E7;
				font-size: 33px;
				transform: translateX(1px);
				transition: all .3s ease 0s;
			}
			&._able-send:after {
				color: #fff;
			}
		}
	}
	@media (max-width: 426px) {
		// margin-bottom: 100px;
		&__name {
			font-size: 18px;
			color: #000;
			padding: 7px 50px 8px 19px;
		}
		&__online {
			font-size: 12px;
		}
		&__exit {
			width: 34px;
			height: 34px;
			img {
				width: 20px;
				transform: translateX(2px);
			}
		}
		&__input {
			textarea {
				font-size: 15px;
				&::placeholder {
					font-size:15px;
				}
				margin: 9px 0 11px 11px;
				padding: 5px 11px 6px 11px;
			}
			button {
				height: 35px;
				width: 35px;
				&:after {
					font-size: 30px;
					transform: translateX(1px);
				}
			}
		}
	}
}
// ============================== Msg ============================================
.msg {
	margin-top: 21px;
	font-family: Raleway;
	display: flex;
	flex-direction: column;
	padding: 6px 13px 8px 13px;
	max-width: 80%;
	&__usn {
		 font-size: 14px;
		 text-decoration: underline;
		 margin-bottom: 3px;
		 font-weight: 300;
		 color: #161525;
		 &._other {
			  align-self: flex-start;
		 }
		 &._mine {
			  align-self: flex-end;
		 }
	}
	&__text {
		word-wrap: break-word;
		max-width: 100%;
		 font-size: 16px;
		 &._other {
			  align-self: flex-start;
		 }
		 &._mine {
			  align-self: flex-end;
		 }
	}
	&__date {
		 transform: translateY(100%);
		 font-size: 12px;
		 opacity: 0.6;
		 position: absolute;
		 &._other {
			  right: 15px;
		 }
		 &._mine {
			  left: 15px;
		 }
	}
	&__mine {
		 background: #e4f1f8;
		 align-self: flex-end;
		 border-radius: 15px 0 15px 15px;
	}
	&__other {
		 align-self: flex-start;
		 background: #efefef;
		 border-radius: 0 15px 15px 15px;
	}
}